# managed by puppet
<% if @domain -%>
domain <%= @domain  %>
<% end -%>
<% if @search -%>
search <%= @search %>
<% end -%>

<% Array(@nameservers).each do |nameserver| -%>
nameserver <%= nameserver %>
<% end -%>

<% if @tail -%>
<%= tail %>
<% end -%>
